* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradient_hawaii {
  background: linear-gradient(to right, gold, purple, gold, crimson, gold);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
